.tableWrapper{
    border : 1px solid #ffff;
    width : 90%;
    text-align: center;
    margin-left: 5%;
}


.tableWrapper td, th{
    border : 1px solid #ffff;
}


.transparent{
    background-color: transparent;
    border : 0px;
}

.transparent:hover{
    cursor: pointer;
}

.excluir{
    color : #d41131;
    font-weight: bold;
    font-size: 20px;
}